<!DOCTYPE html>
{% extends 'construct/base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
{% block content %}
<body>
    <div id="about">
        <div class="container txt">
            <div class="row">
                <div class="col-sm-12 text-center mt-5 text-justify">
                    <p class="lead" style="font-size: 25px;font-weight: bold;">Know Us More</p>
                    <h1 id="wrap" class="display-2">About Us</h1>
                    <h6 class="mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, qui magni odit
                        quam accusamus totam quos officiis placeat vel cum, aspernatur ipsam officia asperiores harum
                        voluptates recusandae autem ab voluptas! Reiciendis, quam? Sit voluptatum culpa reiciendis quod
                        tempora ipsa, esse veniam commodi! Sequi culpa tempore magnam sed pariatur debitis enim
                        doloribus ipsum, necessitatibus quod amet id perferendis assumenda corporis corrupti? Harum quis
                        quas eos impedit consequuntur. Quos nulla iusto error ea, ducimus laborum corporis, ex, repellat
                        numquam eos rerum asperiores illo labore consequuntur voluptatibus non vel! Consequuntur, ea
                        provident?</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mt-5" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                    <i class="fa fa-cubes fa-5x mb-3 " aria-hidden="true"></i>
                    <h3>Pre-construction Services</h3>
                    <p class="text-justify" style="margin-top: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sit veniam perspiciatis quod a beatae, sapiente fugit voluptatibus temporibus, officiis pariatur natus fuga optio. Molestias explicabo eius eaque possimus rerum.</p>
                </div>
                <div class="col-md-4 mt-5" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                   <i class="fa fa-pencil-square-o fa-5x mb-3" aria-hidden="true"></i>
                   <h3> Design-Build</h3>
                   <p class="text-justify" style="margin-top: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sit veniam perspiciatis quod a beatae, sapiente fugit voluptatibus temporibus, officiis pariatur natus fuga optio. Molestias explicabo eius eaque possimus rerum.</p>
                </div>

                <div class="col-md-4 mt-5" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                    <i class="fa fa-th fa-5x mb-3" aria-hidden="true"></i>
                <h3>    Construction Services</h3>
                <p class="text-justify" style="margin-top: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sit veniam perspiciatis quod a beatae, sapiente fugit voluptatibus temporibus, officiis pariatur natus fuga optio. Molestias explicabo eius eaque possimus rerum.</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>