<!DOCTYPE html>
{% extends 'construct/base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construction</title>
</head>
{% block content %}

<body>
    <div id="project">
        <div class="container txt">
            <div class="row">
                <div class="col-sm-12 text-center mt-4">
                    <h1>Projects</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sunt. Aperiam, dignissimos.
                        Itaque dolorum expedita numquam voluptatibus dicta nobis deserunt officia provident atque!
                        Aliquid nam libero enim quis vel nihil!
                    </p>
                </div>
            </div>

            <div class="row mb-5 mt-5">
                <div class="col-md-4">
                    <div class="card bg-dark text-white mt-5">
                        <img src="http://images.unsplash.com/photo-1586773860418-d37222d8fce3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxzZWFyY2h8MXx8aG9zcGl0YWwlMjBidWlsZGluZ3x8MHx8fHwxNjI1NTY1NjEw&ixlib=rb-1.2.1&q=80&w=1080"
                            class="card-img img-fluid" alt="...">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center"
                            style="margin-top: 180px;">

                            <a href="#" class="btn btn-primary" style="font-size: 25px;">Hospital</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-dark text-white mt-5">
                        <img src="https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29tbWVyY2lhbCUyMGJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                            class="card-img img-fluid" alt="...">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center"
                            style="margin-top: 180px;">

                            <a href="#" class="btn btn-primary" style="font-size: 25px;">Commercial</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card bg-dark text-white mt-5">
                        <img src="https://images.all-free-download.com/images/graphicthumb/st_john039s_college_199324.jpg"
                            class="card-img img-fluid" alt="...">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center"
                            style="margin-top: 180px;">

                            <a href="#" class="btn btn-primary" style="font-size: 25px;">Schools</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 txt">
        <div class="row">
            <div class="col-md-12 pt-5 mb-3 text-center">
                <h3>Location</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7308185.298720034!2d69.37903824958181!3d26.56993613499302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396a3efaf7e30e37%3A0xb52b9b4506c088e5!2sRajasthan!5e0!3m2!1sen!2sin!4v1625620874086!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>

    </div>

    
</body>

</html>
{% endblock %}